{% extends 'layouts/main.html' %} {% block title %}Home{% endblock %} {% block content %}

<div ng-app="RandomQuoteGenerator">

    <div ng-controller="QuotesController" class="page-header">
        <h1 ng-init='quotes.quoteAuthor = "{{ quotes.quoteAuthor}}"'>{@ quotes.quoteAuthor @}</h1>
        <p class="lead" ng-init='quotes.quoteText = "{{ quotes.quoteText}}"'> {@ quotes.quoteText @} </p>
        <button ng-click="getNewQuote()" class="btn btn-flat">New Quote</button>
        <a href="https://twitter.com/share" class="twitter-share-button" data-text="{@ quotes.quoteText @}-{@ quotes.quoteAuthor @}" data-hashtags="randomQuotes" data-show-count="false">Tweet</a>
        <script type="text/javascript" src="static/js/main.js"></script>
    </div>

</div>
<!-- Script for twitter button -->
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}
